<style type="style/css">
	body
	{
		background-color: black;
	}
	#just
	{
		padding-left:5%;
		alignment-baseline: justify;
	}
	ul.list
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li. a
	{
		text-decoration: none;
		color: inherit;
	}
	.link
	{
		color: maroon;
	}
</style>
